Projet_SOC/RoutingBikes/Connected Services/Proxy/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProxyCacheServer" />
  <xs:element name="GetDataFromCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CacheItemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyCacheServer" minOccurs="0" name="GetDataFromCacheResult" nillable="true" type="q1:JCDecauxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProxyCacheServer" minOccurs="0" name="GetAllStationResult" nillable="true" type="q2:JCDecauxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CacheItemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProxyCacheServer" minOccurs="0" name="GetOneContractResult" nillable="true" type="q3:JCDecauxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>